body {
    font-family: 'Young Serif', serif;
    color: #16151c;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #8A2BE2;
    border-radius: 10px;
    background-color: #D2BAED;
    width: 300px;
}

button {
    font-family: 'Young Serif', serif;
    color: #16151c;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #f0f8ff
}
.hidden {
    display: none;
}

#answers {
    margin-top: 20px;
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}


#start-container {
    text-align: center;
}

#player-name {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
}
